# NextAuth Configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Database Configuration
DATABASE_URL="file:./dev.db"

# Blockchain Configuration (Sepolia Testnet)
# Get your project ID from https://infura.io dashboard
SEPOLIA_URL=
# Replace with your actual 64-character private key (without 0x prefix)
PRIVATE_KEY=
CTNFT_CONTRACT_ADDRESS=
MONAD_URL=